.one{
    color: blue 
    ;
}
.two-sss{
    color:burlywood ;
}
#asd{
    color:red;
}
.qw{
    display: flex;
color: blue;
background-color: red;
width: 300px;
height:400px ;
}  
li{
    list-style:none ;
}
.asa{
    display: flex;
}